<?xml version="1.0" encoding="UTF-8"?>
<plugin

   id="GxptTrans"
   iconfile="icon.png"
   description="共享平台专用转换"
   tooltip="共享平台专用转换"
   category="Demon"
   classname="org.pentaho.di.trans.steps.gxpttrans.GxpttransMeta">
		
		<libraries>
    		<library name="GxptTrans.jar"/>
		</libraries>
		
</plugin>
